<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <h1>1st content</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam ipsa nostrum sed magni repudiandae non est vitae voluptas esse. Corporis repudiandae distinctio aut labore qui obcaecati aspernatur similique hic laudantium!</p>
    <h2>2nd content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consectetur optio amet? Aspernatur, sit eos! Assumenda iure provident aperiam, molestiae soluta ipsum amet ut aliquam dolore vel mollitia dolorem laudantium?</p>
    
</body>
</html>